
// Default Instruction Styling
.generic {
  font-size: 18px;
  max-width: 300px;
  margin: 10vh auto 0 auto;
  text-align: center;
  line-height: 20px;

  h1 {
    margin-bottom: 30px;
  }

  .img-container {
    max-height: 300px;
    height: 300px;

    img {
      height: 100%;
      width: auto;
    }
  }

  .btn1 {
    margin-bottom: 15px;
  }

  .btn-container {
    margin-top: 30px;
  }
}

// Custom Instruction Styling
.enter07139 {
  // Makes wifi next btn and enter07139 next btn on the same y cord
  padding-top: 40px;
  max-width: 250px;

  .img-container {
    max-height: 300px;
    margin-bottom: 30px;
  }

  .line1 {
    font-size: 30px;
    font-weight: 600;
  }
}

.wifi {
  text-align: left;
}

