.generic {
  max-width: 300px;
  margin: 10vh auto 0 auto;
  text-align: center;
  line-height: 20px;

  h1 {
    margin-bottom: 30px;
  }

  .img-container {
    max-height: 300px;
    height: 300px;

    img {
      height: 100%;
      width: auto;
    }
  }

  .btn-container {
    margin-top: 30px;
  }
}

