
.top-space {
  height: 10px;
}

.error-msg {
  display: block;
  text-align: center;
  line-height: 20px;
  font-size: 16px;
}

.close-link {
  color: #007bff;
}

.error-msg-close-container {
  margin-top: 10px;
}

.close-link:hover {
  text-decoration: underline;
}