
.extra-btn {
  margin-bottom: 10px;
}

.checkout {
  max-width: 100%;
  max-width: 500px;
  margin: 50px auto 100px auto;
  padding: 0 10px;
}

#total {
  font-size: 25px;
  line-height: 45px;
}

#amount {
  font-size: 50px;
  line-height: 80px;
  background: #007bff;
  display: block;
  width: 100%;
}

.checkout-btn {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  padding: 15px 0 !important;
}

.checkout-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  background: hsl(202, 100%, 50%);
  text-align: center;
  width: 100%;
}
