

.vertically-align-container {
  height: 50px;
  line-height: 65px;
  text-align: center;
}
.vertically-align-span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.quantity-btn {
  height: 30px;
  border-radius: 5px;
}

/* Product Option */
.product {
  border-top: 1px solid #e3e8ee;
  background: #fff;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px 10px 0 10px;
}

.w-25per {
  width: 25%;
}

/* Product Image */
.product-img-container {
  height: 75px;
}

.product-img {
  width: 100%;
  height: 100%;
}

.mt-6per {
  margin-top: 15px;
  text-align: center;
}

.mt-8per {
  margin-top: 25px;
}

/* Product Label */
.product-label {
  text-align: center;
  width: 140px;
  padding-right: 50px;
}

/* Product Quantity Selector */
.product-quantity-selector {
  max-width: 100px;
  padding-top: 16px;
  justify-content: space-evenly;
  display: flex;
}

.product-quantity-selector-amount {
  line-height: 38px;
  font-size: 25px;
  font-weight: 100;
}

.thin {
  /* color: grey; */
  opacity: 0.2;
}


/* Product Price */
.product-price {
  width: 40px;
  margin-left: 30px;
  line-height: 75px;
  font-size: 18px;
  text-align: center;
}

.product-price-container {
  padding-top: 35px;
  line-height: 0px;
}

.quantity-btn {
  font-weight: 500;
  font-size: 25px;
  box-shadow: none;
  background: white;
  margin: 0 17px;
  padding: 17px;
  line-height: 0px;
  height: 30px;
  border-radius: 5px;
}
