


.ask-customer {
  max-width: 300px;
  margin: 0px auto;
  padding-top: 10vh;
  text-align: center;
  padding: 10vh 20px 0 20px;
}

.btn {
  margin-bottom: 10px;
}

.cancel-btn {
  margin-bottom: 20px;
}