

.insert-card {
  padding-top: 20vh;
  margin: 0 auto;
  max-width: 300px;
}

img.insert-card-img {
  width: 100%;
  max-width: 600px;
  border-radius: 10%;
  height: auto;
  margin-bottom: 50px;
}

