

.insert-card {
  margin: 0 auto;
  padding: 10vh 20px 0 20px;
  max-width: 300px;
}

img.insert-card-img {
  width: 100%;
  max-width: 600px;
  border-radius: 10%;
  height: auto;
  margin-bottom: 50px;
}

